---
export interface Props {
	title: string;
	body: string;
	href: string;
}
---
<div class="bg-black relative w-full h-screen z-20">
	<div class="flex flex-col xl:flex-row h-full w-full overflow-hidden pt-[20vh] xl:pt-0">
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
	<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 items-center justify-center px-[10vw]">
		<article class="prose lg:prose-xl font-nixie">
			<h2 class="prose-invert">Farm</h2>
		<p class="text-white">
			The farm is where our main food supply is grown. Pipes from the bathroom are connected to the farm, and waste is used as fertilizer. Like the greenhouse we have a daylight and nighttime mode, that uses artificial sunlight to sustain our plants.
	
		</p>
	</article>
		</div>
		<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 z-50 bg-[url('~/assets/images/farm.jpg')] bg-cover bg-center">
		   
		</div>
	</div>
</div>