---
export interface Props {
	title: string;
	body: string;
	href: string;
}
---
<div class="relative w-full h-screen top-0"></div>
<div class="bg-black relative w-full h-screen z-20 sticky top-0">
	<div class="flex flex-col xl:flex-row h-full w-full overflow-hidden pt-[20vh] xl:pt-0">
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
	<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 items-center justify-center px-[10vw]">
		<article class="prose lg:prose-xl font-nixie">
			<h2 class="prose-invert">Living</h2>
		<p class="text-white">
			Our small, but efficient living space is where the four men will be spending hours of their time for the next 2 years. It consists of four bedrooms, a bathroom, a kitchen, a dining space, and a social area.
	
		</p>
		<h3 class="prose-invert">Bedrooms</h3>
		<p class="text-white prose-sm">
			Each of our bedrooms include a hallway leading to their own personal greenhouse. The greenhouse is there for emergencies, personal use, oxygen supply, etc. The bedrooms each have their own walls and privacy from the main living area for personal time and incase they develop a sickness. 
	
		</p>
		</article>
		</div>
		<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 z-50 bg-black">
		   
		</div>
	</div>
</div>