---
export interface Props {
	title: string;
	body: string;
	href: string;
}
---
<div class="bg-black relative w-full h-screen z-20">
	<div class="flex flex-col xl:flex-row h-full w-full overflow-hidden pt-[20vh] xl:pt-0">
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
        <div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 z-50 bg-[url('~/assets/images/milton.jpg')] bg-cover bg-center">
		   
		</div>
	<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 items-center justify-center px-[10vw]">
		<article class="prose lg:prose-xl font-nixie">
			<h2 class="prose-invert">Physical and Mental Aspect</h2>
            <h6 class="text-white">PHYSICAL</h6>
		<p class="text-white prose prose-xs">
            While on this mission they will need a way to keep fit and healthy. There will be three cardiovascular and exercise machines. They will use these daily. 
		</p>
        <h6 class="text-white">Gamma Rays</h6>
        <p class="text-white prose prose-xs">
            To protect the astronauts from harmful radiation the walls of our living area, farm, garage, and green houses will be made out of several inches of steel. And a leaded glass cover over our vehicles. 
        </p>
        <h6 class="text-white">Mental</h6>
		<p class="text-white prose prose-xs">
            To keep depression symptoms and other mental illness issues to a minimum, we have created a robot. There will be one robot for each person This robot will have the ability to program loved one’s voices. They will be programmed before they leave earth leaving the indivisuals on the mission able to use them whenever. The loved one’s are able to put how ever many messages they want for the 2 year span. 
		</p>
	</article>
		</div>

	</div>
</div>