---
export interface Props {
	title: string;
	body: string;
	href: string;
}
---
<div class="bg-black relative w-full h-screen z-20">
	<div class="flex flex-col xl:flex-row h-full w-full overflow-hidden pt-[20vh] xl:pt-0">
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
	<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 items-center justify-center px-[10vw]">
		<article class="prose lg:prose-xl font-nixie">
			<h2 class="prose-invert">Airlock</h2>
		<p class="text-white prose prose-xs">
            The garage, living area, and farm will each have their own airlock. It will prevent any lunar dust and toxic air from coming into each of these spaces. There will be a door into the first room that will prevent contamination, and particles from the outside to enter into the “cleanroom”. If an astronaut exits an airlock without spending the proper amount of time in it they may experience decompression sickness, joint pain, dizziness etc. around one hour before exiting the spacecraft the astronaut must go into the airlock; it acts as a decompression chamber where their body adjusts to the change in pressure. 

		</p>
	</article>
		</div>
		<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 z-50 bg-[url('~/assets/images/airlock.jpg')] bg-cover bg-center">
		   
		</div>
	</div>
</div>