---
import Lunarbase from '~/assets/images/lunarbase.jpg'
export interface Props {
	title: string;
	body: string;
	href: string;
}
---

<div class="hero min-h-screen bg-black overflow-hidden">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="flex items-center justify-center flex-col lg:flex-row mt-12 lg:mt-0 ">
      <img src={Lunarbase.src} width={Lunarbase.width} height={Lunarbase.height} alt="..." class="invert z-20 w-[90%] h-full md:max-w-[50%] object-cover object-center" />
      <div class="px-[10vw] prose lg:prose-xl font-nixie text-white py-12">
		<h3 class="text-white">The Crew</h3>
		<p class="text-white prose prose-xs">Pilot and Mechanic&nbsp;&nbsp;&middot;&nbsp;&nbsp;Doctor&nbsp;&nbsp;&middot;&nbsp;&nbsp;ecologist&nbsp;&nbsp;&middot;&nbsp;&nbsp;Scientist </p>
		<h3 class="text-white">Living</h3>
		<p class="text-white prose prose-xs">
			Our small, but efficient living space is where the four men will be spending hours of their time for the next 2 years. It consists of four bedrooms, a bathroom, a kitchen, a dining space, and a social area.
		</p>
		<h3 class="text-white">Bedrooms</h3>
		<p class="text-white prose prose-xs">
			Each of our bedrooms include a hallway leading to their own personal greenhouse. The greenhouse is there for emergencies, personal use, oxygen supply, etc. The bedrooms each have their own walls and privacy from the main living area for personal time and incase they develop a sickness. 
	
		</p>
    </div>
    </div>
  </div>