---
import Basecamp from '../assets/images/bascamp.jpg'
export interface Props {
	title: string;
	body: string;
	href: string;
}
---

<div class="hero min-h-screen bg-black lg:bg-[url('~/assets/images/bascamp.jpg')] lg:bg-cover lg:bg-center overflow-hidden z-20">
    <div class="flex items-center justify-center flex-col-reverse lg:flex-row-reverse mt-12 lg:mt-0 ">
      <img src={Basecamp.src} width={Basecamp.width} height={Basecamp.height} alt="..." class="lg:hidden z-30 w-[90%] h-full md:max-w-[50%] object-cover object-center" />
      <div class="px-[10vw] prose lg:prose-xl font-nixie text-white py-12 pt-0 lg:mt-[-40%] lg:ml-[-50%]">
		<h3 class="text-white">The Challenge</h3>
		<p class="text-white prose prose-xs">
            Create a lunar base for 4 men on the moon for 2 years. Our base is consisted of everything you would need in case of emergencies and everyday life. Most of our base is a dome shaped layout. This is because it is more efficient and much easier to build while on the moon. We have greenhouses, a farm, a cold room, and more! To learn more about our lunar base keep on scrolling and continue to read/watch!
		</p>
    </div>
    </div>
  </div>