---
import Greenhouse from '~/assets/images/greenhouse.jpg'
export interface Props {
	title: string;
	body: string;
	href: string;
}
---

<div class="hero min-h-screen bg-black overflow-hidden">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="flex items-center justify-center flex-col lg:flex-row mt-12 lg:mt-0 ">
      <img src={Greenhouse.src} width={Greenhouse.width} height={Greenhouse.height} alt="..." class="z-20 w-[90%] h-full md:max-w-[50%] object-cover object-center" />
      <div class="px-[10vw] prose lg:prose-xl font-nixie text-white py-12">
        <h3 class="pt-12 lg:pt-0 text-white">Greenhouses</h3>
        <p class="text-white prose prose-xs">As mentioned previously, each bedroom is connected to a private greenhouse. Our greenhouses have resources for food and oxygen. In these greenhouses, oxygen is flowing through air vents and pipes spreading all the way through the base. Each greenhouse has a system called daylight and nighttime mode. This is where it is able to switch the darkness and brightness for the plants to grow at a steady rate.</p>
       
    </div>
    </div>
  </div>