---
export interface Props {
	title: string;
	body: string;
	href: string;
}
---
<div class="bg-black relative w-full h-screen z-20">
	<div class="flex flex-col xl:flex-row h-full w-full overflow-hidden pt-[20vh] xl:pt-0">
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
	<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 items-center justify-center px-[10vw]">
		<article class="prose lg:prose-xl font-nixie">
			<h2 class="prose-invert">Kitchen &amp; Cold Room</h2>
		<p class="text-white">
			Our kitchen is where we prepare food and store our non plant based food. Connected to it is our cold room. The cold room is where we hold and store our water. We have tanks, bags of water, and frozen food. We also have frozen water in the form of blocks. These are for emergencies and extra supply. The cold room is kept at temperature able to keep everything that needs to be frozen. 
	
		</p>
	</article>
		</div>
		<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/2 z-50 bg-[url('~/assets/images/kitchen.jpg')] bg-cover bg-center">
		   
		</div>
	</div>
</div>