---
import Lunarbase from '../assets/images/moonstuff.jpg'
export interface Props {
	title: string;
	body: string;
	href: string;
}
---
<div class="bg-[url('~/assets/images/bascamp.jpg')] bg-cover bg-center relative w-full h-screen z-10">

<div class="flex flex-col xl:flex-row h-full w-full pt-[20vh] xl:pt-0">
  <!--  <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>-->
<div class="flex flex-col h-1/2 xl:h-full w-full xl:w-3/4 items-start justify-start xl:mt-[15vh] px-[10vw]">
    <article class="prose lg:prose-md font-nixie max-w-[100%]">
        <h1 class="prose-invert">The Challenge</h1>
    <p class="text-white">
        Create a lunar base for 4 men on the moon for 2 years. Our base is consisted of everything you would need in case of emergencies and everyday life. Most of our base is a dome shaped layout. This is because it is more efficient and much easier to build while on the moon. We have greenhouses, a farm, a cold room, and more! To learn more about our lunar base keep on scrolling and continue to read/watch!
    </p>
  <!-- <div class="flex inline prose prose-xs prose-invert text-white max-w-[100%]">
    <ul class="flex lg:inline m-0 p-0">
        <li class="flex pr-10 font-900">Crew:</li>
       <li class="flex px-10">Pilot/Mechanic</li>
       <li class="flex px-10">Doctor</li>
       <li class="flex px-10">Ecologist</li>
       <li class="flex px-10">Scientist</li>
    </ul>
</div>-->
</article>
    </div>
    <div class="flex flex-col h-1/2 xl:h-full w-full xl:w-1/4 z-50">
        
</div>
</div>
</div>