---
import Robot from '~/assets/images/milton.jpg'
export interface Props {
	title: string;
	body: string;
	href: string;
}
---

<div class="hero min-h-screen bg-black overflow-hidden">
    <div class="flex items-center justify-center flex-col lg:flex-row mt-12 lg:mt-0 ">
        <div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
      <img src={Robot.src} width={Robot.width} height={Robot.height} alt="..." class="z-20 w-[90%] h-full md:max-w-[50%] object-cover object-center" />
      <div class="px-[10vw] prose lg:prose-xl font-nixie text-white py-12">
        <h3 class="pt-12 lg:pt-0 text-white">Physical and Mental Aspect</h3>
        <h5 class="text-white">Physical</h5>
        <p class="text-white prose prose-xs"> While on this mission they will need a way to keep fit and healthy. There will be three cardiovascular and exercise machines. They will use these daily. </p>
        <h5 class="text-xl text-white text-white">Gamma Rays</h5>
        <p class="text-white prose prose-xs">
            To protect the astronauts from harmful radiation the walls of our living area, farm, garage, and green houses will be made out of several inches of steel. And a leaded glass cover over our vehicles. 
        </p>
        <h5 class="text-white">Mental</h5>
		<p class="text-white prose prose-xs">
            To keep depression symptoms and other mental illness issues to a minimum, we have created a robot. There will be one robot for each person This robot will have the ability to program loved one’s voices. They will be programmed before they leave earth leaving the indivisuals on the mission able to use them whenever. The loved one’s are able to put how ever many messages they want for the 2 year span. 
		</p>
    </div>
    </div>
  </div>
