---
import { Image } from 'astro:assets'
import Moon from '../assets/svg/moonstuff.jpg'
import Astronaut from '../assets/images/astronaut.jpg'
import Locator from '../assets/images/locator.png'
import Logo from '../assets/svg/moonbaselogo.svg'

export interface Props {
	title: string;
	body: string;
	href: string;
}
---

	<div class="flex flex-col w-screen h-screen overflow-hidden bg-black z-0 bg-moon bg-center bg-cover bg-no-repeat items-center justify-start text-white relative z-50 pt-[20vh]">
  <img src={Logo.src} width={Logo.width} height={Logo.height} alt='...' class='invert  w-3/4 lg:w-1/2 max-w-[558px] pb-6' />
  <div class="hidden lg:flex justify-center flex-row font-nixie text-sm text-gray-300 pt-2">
  <div class="text-sm">Project Directors:&nbsp;&nbsp;Ashley Davis&nbsp;&nbsp;&middot;&nbsp;&nbsp;Halia Something</div>
    </div>
<div class="px-4 h-[20vh] absolute bottom-0 w-full text-[0.7rem] md:text-xs uppercase text-white text-center font-nixie flex flex-col sm:flex-row items-center justify-center sm:tracking-[0.25rem] :tracking-[0.5rem] xl:tracking-[1rem]">4 Astronauts</span>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<span class="block">2 Years</span>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<span class="block">240,000 Miles from Earth</span></div>
