---
import { Image } from 'astro:assets'
import Moon from '../assets/svg/moonstuff.jpg'
import Astronaut from '../assets/images/astronaut.jpg'
import Locator from '../assets/images/locator.png'
import Logo from '../assets/svg/moonbaselogo.svg'

export interface Props {
	title: string;
	body: string;
	href: string;
}
---

<div class="relative h-[100vh] bg-moon bg-center bg-cover bg-no-repeat isolate px-6 pt-14 lg:px-8">
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-28">
    <div class="text-center">
      <img src={Logo.src} width={Logo.width} height={Logo.height} alt='...' class='invert' />
      <p class="hidden lg:flex justify-center flex-row font-nixie text-sm text-gray-300 pt-6">Project Directors:&nbsp;&nbsp;Ashley Davis&nbsp;&nbsp;&middot;&nbsp;&nbsp;Halia Something</p>
    </div>

  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="px-4 h-[20vh] absolute left-0 bottom-0 w-full text-[0.7rem] md:text-xs uppercase text-white text-center font-nixie flex flex-col sm:flex-row items-center justify-center sm:tracking-[0.25rem] :tracking-[0.5rem] xl:tracking-[1rem]">4 Astronauts</span>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<span class="block">2 Years</span>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<span class="block">240,000 Miles from Earth</span></div>
</div>